/* Media Queries Mixin
**********************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/*Paleta de Colores*/
/*Font Family*/
/*Mixins*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a, ul {
  text-decoration: none;
  list-style: none;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 70px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.main .Busqueda {
  background-image: url("../Assets/roca.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  border-radius: 40px;
  height: 250px;
}
@media only screen and (max-width: 700px) {
  .main .Busqueda {
    background-size: 500px;
    height: 300px;
    width: 90vw;
    border-radius: 25px;
  }
}
.main .Busqueda h1 {
  color: #ddd4d4;
  margin-top: 20px;
  font-size: calc(1em + 1.1vw);
  letter-spacing: 5px;
}
.main .Busqueda__input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: 18px auto;
}
@media only screen and (max-width: 700px) {
  .main .Busqueda__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main .Busqueda__input__icono--1 {
  background-image: url("../Assets/buscar.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-color: white;
  margin: 0 5px;
  background-size: 25px;
  display: flex;
  align-items: center;
  width: 30vmax;
  padding-left: 40px;
  height: 50px;
  border-radius: 15px;
}
.main .Busqueda__input__icono--1 input {
  width: 96%;
  height: 40px;
  border: 0;
  outline: none;
}
@media only screen and (max-width: 700px) {
  .main .Busqueda__input__icono--1 {
    margin-bottom: 20px;
  }
}
.main .Busqueda__input__icono--2 {
  background-image: url("../Assets/alfiler.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  background-color: white;
  margin: 0 5px;
  background-size: 25px;
  display: flex;
  align-items: center;
  width: 30vmax;
  padding-left: 40px;
  height: 50px;
  border-radius: 15px;
}
.main .Busqueda__input__icono--2 input {
  width: 96%;
  height: 40px;
  border: 0;
  outline: none;
}
.main .Busqueda a {
  display: block;
  margin: 30px auto;
  padding-top: 10px;
  font-size: calc(0.7em + 0.6vw);
  width: 250px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background-color: #297494;
  border: 3px solid #297494;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .main .Busqueda a {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    color: white;
    background-color: #297494;
    border: 3px solid #297494;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
}
.main .Busqueda a:hover, .main .Busqueda a:focus {
  color: #baa27d;
  opacity: 0.9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  background: linear-gradient(black, #44484b);
}
.nav__logo {
  width: 14vmax;
  height: 5vmax;
  cursor: pointer;
}
.nav__enlaces {
  display: flex;
  justify-content: space-between;
  width: 30vmax;
}
@media only screen and (max-width: 700px) {
  .nav__enlaces {
    display: block;
    position: absolute;
    padding: 20px 0 15px 0;
    margin-left: 5%;
    width: 90%;
    height: 50vmax;
    color: black;
    top: -100vh;
    text-align: center;
    background: linear-gradient(black, #44484b);
    font-size: calc(1em + 1vw);
    border-radius: 10px;
    transition: 0.4s;
  }
}
.nav__enlaces.is-active {
  top: 120px;
}
@media only screen and (max-width: 700px) {
  .nav__enlaces li {
    padding: 18px;
  }
}
.nav__enlaces li .nav__enlaces--a1, .nav__enlaces li .nav__enlaces--a2 {
  display: none;
  margin: 0 35px;
}
@media only screen and (max-width: 700px) {
  .nav__enlaces li .nav__enlaces--a1 {
    display: inline-block;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: #baa27d;
    background-color: linear-gradient(black, #44484b);
    border: 3px solid #baa27d;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .nav__enlaces li .nav__enlaces--a2 {
    display: inline-block;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: #297494;
    border: 3px solid #baa27d;
    text-align: center;
    cursor: pointer;
  }
}
.nav__enlaces a {
  color: white;
  font-size: calc(0.7em + 0.8vw);
}
.nav__enlaces a:hover, .nav__enlaces a:focus {
  color: #baa27d;
}
.nav__Button {
  padding: 10px;
  /*Clase para controlar mi menu Burger*/
}
.nav__Button--a1 {
  display: Block;
  margin: 10px;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: #baa27d;
  background-color: linear-gradient(black, #44484b);
  border: 3px solid #baa27d;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .nav__Button--a1 {
    display: none;
  }
}
.nav__Button--a2 {
  display: Block;
  margin: 10px;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: white;
  background-color: #297494;
  border: 3px solid #baa27d;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .nav__Button--a2 {
    display: none;
  }
}
.nav__Button .burger-button {
  display: none;
  margin-top: 30px;
  margin-right: 20px;
}
.nav__Button .burger-button img {
  position: relative;
}
.nav__Button .burger-button .Icono-burger {
  display: flex;
  align-items: center;
  position: absolute;
  right: 35px;
  width: 30px;
  height: 25px;
  top: 40px;
  filter: invert(1);
}
.nav__Button .burger-button .Icono-burger.is-active {
  position: absolute;
  top: -100vw;
}
.nav__Button .burger-button .Icono-close {
  top: -100vw;
  position: relative;
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.nav__Button .burger-button .Icono-close.is-active {
  display: flex;
  position: absolute;
  top: 40px;
  right: 35px;
}
@media only screen and (max-width: 700px) {
  .nav__Button .burger-button {
    display: block;
  }
}

.Busqueda {
  background-image: url("../Assets/roca.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  border-radius: 40px;
  height: 250px;
}
@media only screen and (max-width: 700px) {
  .Busqueda {
    background-size: 500px;
    height: 300px;
    width: 90vw;
    border-radius: 25px;
  }
}
.Busqueda h1 {
  color: #ddd4d4;
  margin-top: 20px;
  font-size: calc(1em + 1.1vw);
  letter-spacing: 5px;
}
.Busqueda__input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: 18px auto;
}
@media only screen and (max-width: 700px) {
  .Busqueda__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Busqueda__input__icono--1 {
  background-image: url("../Assets/buscar.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-color: white;
  margin: 0 5px;
  background-size: 25px;
  display: flex;
  align-items: center;
  width: 30vmax;
  padding-left: 40px;
  height: 50px;
  border-radius: 15px;
}
.Busqueda__input__icono--1 input {
  width: 96%;
  height: 40px;
  border: 0;
  outline: none;
}
@media only screen and (max-width: 700px) {
  .Busqueda__input__icono--1 {
    margin-bottom: 20px;
  }
}
.Busqueda__input__icono--2 {
  background-image: url("../Assets/alfiler.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  background-color: white;
  margin: 0 5px;
  background-size: 25px;
  display: flex;
  align-items: center;
  width: 30vmax;
  padding-left: 40px;
  height: 50px;
  border-radius: 15px;
}
.Busqueda__input__icono--2 input {
  width: 96%;
  height: 40px;
  border: 0;
  outline: none;
}
.Busqueda a {
  display: block;
  margin: 30px auto;
  padding-top: 10px;
  font-size: calc(0.7em + 0.6vw);
  width: 250px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background-color: #297494;
  border: 3px solid #297494;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .Busqueda a {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    color: white;
    background-color: #297494;
    border: 3px solid #297494;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
}
.Busqueda a:hover, .Busqueda a:focus {
  color: #baa27d;
  opacity: 0.9;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
@media only screen and (max-width: 700px) {
  .main {
    width: 90%;
  }
}
.main .Cards {
  display: grid;
  grid-template-columns: 30% 20% 48%;
  margin: 20px auto;
  box-shadow: 2px 5px 6px 3px #20212447;
  background-color: #f2f2f2;
}
@media only screen and (max-width: 700px) {
  .main .Cards {
    display: flex;
    flex-direction: column;
  }
}
.main .Cards__Graph {
  width: 100%;
}
.main .Cards__Graph h1 {
  font-size: calc(0.8em + 0.7vw);
  font-weight: 600;
  color: #297494;
  width: 90%;
  margin: 10px;
  text-transform: uppercase;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Graph h1 {
    font-size: calc(1em + 1vw);
    margin: 20px;
  }
}
.main .Cards__Graph hr {
  border: 1px solid #baa27d;
  width: 90%;
  margin: auto;
}
.main .Cards__Graph__map {
  display: flex;
  width: 80%;
  margin: 8% auto;
}
.main .Cards__Graph__map img {
  width: 25px;
  height: 25px;
  margin: auto 20px;
}
.main .Cards__Graph__map h3 {
  font-size: calc(0.5em + 0.4vw);
  color: #666666;
  font-weight: 400;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Graph__map h3 {
    font-size: calc(0.6em + 0.7vw);
    margin: 0px;
  }
}
.main .Cards__Graph .buttonText {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 1%;
  width: 100%;
}
.main .Cards__Graph .buttonText a {
  display: block;
  margin: auto;
  padding-top: 4px;
  font-size: calc(0.6em + 0.5vw);
  width: 9vmax;
  height: 2.5vmax;
  border-radius: 20px;
  color: white;
  background-color: #baa27d;
  border: 3px solid #baa27d;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Graph .buttonText a {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: #baa27d;
    border: 3px solid #baa27d;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    font-size: calc(0.7em + 0.7vw);
  }
}
.main .Cards__Graph .buttonText a:hover, .main .Cards__Graph .buttonText a:focus {
  color: white;
  opacity: 0.9;
  font-size: calc(0.6em + 0.7vw);
}
.main .Cards__Graph .buttonSkils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  width: 100%;
}
.main .Cards__Graph .buttonSkils a {
  display: block;
  margin: 15px 10px 15px;
  padding-top: 5px;
  font-size: calc(0.4em + 0.5vw);
  width: 7vmax;
  height: 2.5vmax;
  border-radius: 20px;
  color: black;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Graph .buttonSkils a {
    width: 90px;
    height: 35px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    font-size: calc(0.5em + 0.5vw);
  }
}
.main .Cards__Graph .buttonSkils a:hover, .main .Cards__Graph .buttonSkils a:focus {
  color: black;
  opacity: 0.9;
  font-size: calc(0.6em + 0.5vw);
}
.main .Cards__Image {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main .Cards__Image img {
  margin-top: 10px;
  width: 11vmax;
  height: 11vmax;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Image img {
    width: 100px;
    height: 100px;
  }
}
.main .Cards__Image h2 {
  font-size: calc(0.6em + 0.6vw);
  color: #666666;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Image h2 {
    font-size: calc(0.8em + 1vw);
  }
}
.main .Cards__Image h3 {
  font-size: calc(0.6em + 0.6vw);
  color: #baa27d;
  font-weight: 600;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Image h3 {
    font-size: calc(0.8em + 1vw);
  }
}
.main .Cards__Image ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.main .Cards__Image li img {
  width: 20px;
  height: 20px;
}
.main .Cards__Text {
  padding: 10px;
  margin: auto;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Text {
    padding: 20px;
  }
}
.main .Cards__Text h1 {
  font-size: calc(0.9em + 0.8vw);
  text-align: justify;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Text h1 {
    font-size: calc(1em + 1vw);
  }
}
.main .Cards__Text p {
  font-size: calc(0.45em + 0.5vw);
  font-weight: 200;
  text-align: justify;
}
@media only screen and (max-width: 700px) {
  .main .Cards__Text p {
    font-size: calc(0.6em + 0.7vw);
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(black, #44484b);
  width: 100%;
  max-width: 100%;
  height: 70px;
  font-size: calc(0.5em + 0.8vw);
  padding: 20px;
}
@media only screen and (max-width: 700px) {
  .footer {
    font-size: calc(0.5em + 0.4vw);
  }
}
.footer a {
  color: white;
}
@media only screen and (max-width: 700px) {
  .footer__DerechosReservados {
    width: 40%;
    text-align: center;
  }
}
.footer img {
  width: 3.5vmax;
}
.footer__PlatziMaster {
  display: flex;
  align-items: center;
}