include ArchivosPug/Configuraciones.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="CSS/Jobs.css")
        title Jobs
    body
        include ArchivosPug/NavBar.pug

        main.main
            section.Busqueda
                h1 #{barraBusqueda}
                section.Busqueda__input
                    div.Busqueda__input__icono--1
                        input(type="text" name="input" placeholder="Skils, salary, position")
                    div.Busqueda__input__icono--2
                        input(type="text" name="input" placeholder="Location, country")
                a(href="AboutUs.html") #{botonesText[3]}
            

        include ArchivosPug/Footer.pug
