include ArchivosPug/Configuraciones.pug
html(lang="en")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="CSS/index.css")
    link(rel="stylesheet", href="CSS/Perfil.css")
    title Perfil
    body
        include ArchivosPug/NavBar.pug

        main.container
            section.perfil
                figure.perfil__img: img(src="", alt="Foto de perfil")
                p.perfil__datos--nombre Luis Orlando Casta침eda
                p.perfil__datos--edad 25 a침os
                p.perfil__datos--locacion Tonal치, Jalisco
                .perfil__profesion
                    p.perfil__profesion-titulo Ingeniero en computacion 
            
            section.info-general
                h3.info-general__titulo
                .info_general__container
                    p.info-general__campo.nombre  Nombre(s)
                    p.info-general__campo.nombre  Orlando
                    p.info-general__campo.nombre  Apellido Paterno
                    p.info-general__campo.nombre  Casta침eda
                    p.info-general__campo.nombre  Apellido Materno
                    p.info-general__campo.nombre  Lopez

            section.vacantes
                h3.vacantes__titulo
                .vacantes__container
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        figure: img(src="", alt="editar")


        include ArchivosPug/Footer.pug