include ArchivosPug/Configuraciones.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="CSS/index.css")
        link(rel="stylesheet", href="CSS/Perfil.css")
        title Perfil
    body
        include ArchivosPug/NavBar.pug

        main.container
            section.perfil
                button.perfil__editar
                figure.perfil__img: img(src="/Assets/fotoPrueba.jpg", alt="Foto de perfil")
                p.perfil__datos--nombre Luis Orlando Castañeda
                p.perfil__datos--edad 25 años
                p.perfil__datos--locacion Tonalá, Jalisco
                .perfil__profesion
                    p.perfil__profesion-titulo Ingeniero en computacion 
            
            .favoritos
                a(href="/Favoritos.html")
                    button.favoritos__boton Favorite Jobs
            
            section.info-general
                button.info-general__editar
                h3.info-general__titulo Información General
                .info-general__container
                    .info-general__container--personal
                        p.nombreTitulo  Nombre(s)
                        p.apellidoPTitulo  Apellido Paterno
                        p.apellidoMTitulo  Apellido Materno
                        p.nombre Orlando
                        p.apellidoP Castañeda
                        p.apellidoM Lopez
                    .info-general__container--usuario
                        p.usuarioTitulo  Usuario
                        p.correoTitulo  Correo
                        p.contrasenaTitulo  Contraseña
                        p.usuario  Orla123
                        p.correo  Orla@test.com
                        p.contrasena  *******

            section.vacantes
                h3.vacantes__titulo Vacantes
                .vacantes__container
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
                        //- figure: img(src="", alt="editar")
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
            
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
                
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
            
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar
                    .vacantes__container--vacante
                        p Desarrollador Web Full Stack
                        button.editar
                        button.borrar


        include ArchivosPug/Footer.pug