-var enlaces = ["Jobs", "Published", "About Us"]
-var barraBusqueda = ["Find your next jobs"]
-var botonesText = ["See Jobs", "Sign In", "Sign Up", "Search Jobs", "Restore Password", "Create your account", "Go!", "Post"]
-var footerText = ["About Us", "2020 By Central Develop, All rights reserverd.", "Platzi Master"]
