footer.footer
    a(href="AboutUs.html").footer__AboutUs #{footerText[0]}
    a(href="#").footer__DerechosReservados #{footerText[1]}
    section.footer__PlatziMaster
        img(src="Assets/PlatziMaster.png", alt="Logo Platzi Master")
        a(href="#").footer__PlatziMaster__Text #{footerText[2]}